<% layout("../layouts/boilerplate")%>

<%notifications.forEach((notification)=>{%>
  <hr>
  <div class="card">
  <div class="card-header">
    <p><%=notification.createdAt%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=notification.message%></h5>
    Team Buy & Sell&nbsp;&nbsp;
    <a style="background-color: white; color: black;" href="/buyandsell/deletenotification/<%=notification._id%>/<%=user._id%>" class="btn btn-primary">Give wings✈️</a>
  </div>
</div>
<%})%>

